* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

/*Contact Page*/
.contactForm{
    display: flex;
    flex-direction: column;
    background-color:whitesmoke;
    max-width: 100vh;
    padding:5px;
    text-align: center;
}

#email.email{
    width: 100%;
}

.nameDiv{
    display: flex;  
    justify-content: space-evenly;
}

.contactForm button{
    display: block;
    width: 100%;
    outline: none;
    border: none;
    margin-bottom: 5px;
    height: 2rem
}